<p><pre>User <%= user.id %></pre>
  <ul>
    <p><pre>Name    : <%= user.name %>      </pre></p>
    <p><pre>Age     : <%= user.age %>       </pre></p>
    <p><pre>Address : <%= user.address %>    </pre></p>
    <p><pre>Phone   : <%= user.phone %>     </pre></p>
    <p><pre>Email   : <%= user.email %>     </pre></p>
    <% if user.id != 1 %>
      <%= link_to "Delete User", user, data: { "turbo-method": :delete} %>
    <% end %>
  </ul>
</p>
