<li><pre>User <%= user.id %></pre>
    <ul>
        <li><pre>Name    : <%= user.name %>      </pre></li>
        <li><pre>Age     : <%= user.age %>       </pre></li>
        <li><pre>Adress  : <%= user.adress %>    </pre></li>
        <li><pre>Phone   : <%= user.phone %>     </pre></li>
        <li><pre>Email   : <%= user.email %>     </pre></li>
    </ul>
</li>